# Get free at https://cloud.walletconnect.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Filled in after running: npm run deploy:testnet (from root folder)
NEXT_PUBLIC_LENDING_POOL_ADDRESS=
NEXT_PUBLIC_LOAN_MANAGER_ADDRESS=
NEXT_PUBLIC_CREDIT_SCORE_ADDRESS=
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_LIQUIDATOR_ADDRESS=
